{{!
    This file is part of The elegance theme for Moodle.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_elegance/widget_marketingspots


    Example context (json):
    {
        "marketingtitleicon": "bell",
        "marketingtitle": "Try these courses",
        "spots": [
            {
                "image": "http://placekitten.com/200/100",
                "url": "/course/view.php?id=4",
                "icon": "eercast"
                "title": "Moodle theming",
                "content": "Lorum Ipsum"
            }
        ]
    }
}}
<div class="bg-white eboxshadow my-4 py-4">
    <div class="widget widget_marketingspots mx-4">
        <div id="heading" class="text-center">
            <h2 class="marketingheader display-4 font-fun headingshadow mb-4">
                <i class="fa fa-{{ marketingtitleicon }}"></i>
                {{{ marketingtitle }}}
            </h2>
        </div>

        <div class="card-deck w-100">
            {{#spots}}
                <div class="card eboxshadow">
                    <img src="{{{ image }}}" class="card-img-top" alt="{{ title }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{#url}}
                            <a href="{{{ url }}}" target="new" title="{{ title }}">
                            {{/url}}
                            {{#icon}}
                                <i class="fa fa-{{ icon }}"></i>
                            {{/icon}}
                            {{ title }}
                            {{#url}}
                                </a>
                            {{/url}}
                        </h5>
                        <p class="card-text">{{{content}}}</p>
                    </div>
                </div>
            {{/spots}}
        </div>
    </div>
</div>
